/*
	mailchimp.css
	Author: Alex Lehner

*/

/* ==========================================================================
   Master override styles
   ========================================================================== */

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 15px;
	color: #595959;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'old-standard', "Times New Roman", serif !important;
  font-style: italic;
  letter-spacing: -0.045em;
}

/* ==========================================================================
   Layout styles
   ========================================================================== */

.navbar {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}

.welcome-video {
	background: #8C79D9 url(../images/banner-bg.jpg) no-repeat center center; -o-background-size: cover; background-size: cover;
	padding: 10% 0;
	color: #FFF;
	height: 100%;
}

.welcome-video h1 {
	font-size: 90px;
}

.welcome-video p {
	font-size: 25px;
	font-weight: 300;
}

.welcome-video a, .welcome-video a:visited, .welcome-video a:active {
	color: #FFF;
}

.welcome-video a:hover {
	color: #D8D6D6;
}

.cover-letter {
	padding: 10% 0;
	border-bottom: 1px solid #ccc;
}

.cover-letter-body {
	padding: 5% 0;
}

.quote {
	background: #228988 url(../images/quote1-bg.jpg) no-repeat center center; -o-background-size: cover; background-size: cover;
	padding: 10% 0;
	color: #FFF;
}

.quote a, .quote a:visited, .quote a:active, .quote blockquote footer {
	color:#E2E2E2;
}

.quote a:hover {
	color: #FFF;
}

.quote blockquote {
	border-left: 0;
}

.quote blockquote p {
  	font-size: 25px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
	.welcome-video {
		padding:35% 0;
	}
	.welcome-video h1 {
		font-size: 45px
	}

	.welcome-video p {
		font-size: 16px;
	}
}