


.navbar {
	background: rgba(255, 255, 255, 0.8);
	border-bottom: 3px solid #ccc;
}
.welcome-video {
	background: #8C79D9 url(../images/banner-bg.jpg) no-repeat center center; -o-background-size: cover; background-size: cover;
	padding-top: 50px;
}